@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

* {
	margin:0;
	padding:0;
    color:#000;
	font-family: 'Noto Sans KR', cursive;
	box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.page {
    width: 95vw;
    margin: 0 auto;
}

header {
    width: 100;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h2 {
	margin-left:20px;
}

header > nav {
	width:600px;
	height:100%;
}

header ul {
	width:92%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:18px;
	height: 100%;
	display: flex;
	align-items: center;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0px 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: #FE642E;
}

.styled:hover {
    background-color: #FE642E;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.text-wrapper{
    display: block;
    width: 40vw;
    height: 81vh;
    background: white;
    position: absolute;
    top: 12vh;
    left: 60vw;
 }
 
.input_box{
    width:100%;
	height:90%;
    margin-top: 50px;
 }

 .submit_button {
    margin-top : 100px
 }
 
 #content-header h3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px
}

#contact-form {
    padding:10px 15px 15px 15px; // 패딩 설정, 시계방향(위 오른 아래 왼)
    border:4px solid #4ea0d8;  // 테두리(경계) 설정
    border-radius: 10px;  // 테두리 둥굴게
}

#contact-form div {
    margin-bottom:20px;
}

#contact-form label {
    display:block; // inline-block 설정
    width:100px;
    font-weight: bold;
}

#contact-form input[type='text']{ // input type 접근 !!!
    border:#ccc 1px solid;
    border-radius:5px;
    height: 30px;
    width:80%;
}

#contact-form input[type='submit']{ // input type 접근 !!!
    width: 200px;
    padding: 12px 18px;
    color:#fff;
    background: #fa6e3e;
    border:0;
    border-radius: 5px;
    
    display:block;
}

#contact-form input[type='submit']:hover{ // input type 버튼의 효과(마우스 댔을 때)
    background: #d55427;
    cursor:pointer;  // 커서를 올리면 마우스 모양이 나오게 설정
}

#contact-form .content-footer p{  // 클래스 접근 시 . 사용, id 접근 시 # 사용
    font-style: italic;
    text-align: center;
    color: #666;
    font-size: 80%;

}

textarea{
    border:#ccc 1px solid;
    border-radius:5px;
    resize: none;
}

.inquiry-table {
    display: block;
    width: 40vw;
    height: 81vh;
    background: white;
    position: absolute;
    top: 12vh;
    left: 60vw;
}

.inquiry-table #warning {
    display: block;
    font-size: 12px;
    border: 1px solid rgb(163, 159, 159);
    width: 30vw;
    text-align: left;
    padding: 5px 5px 5px 5px;
    box-shadow: 3px 6px 10px rgb(80, 74, 74);
    margin: 0px 0 30px 0;
    background-color: #fbd9c7;
}

.inquiry-table #warning #confirm {
    background-color: #2ac009;
    margin: 0 0 0 16vw;
    padding: 5px 20px 5px 20px;
    color: white;
    border: none;
}

.inquiry-table #warning #discard {
    background-color: #e60909;
    margin: 0 0 0 2vw;
    padding: 5px 20px 5px 20px;
    color: white;
    border: none;
}

.inquiry-table table {
    margin: 10px 0 10px 0;
    border: 1px solid rgb(163, 159, 159);
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;
}

.inquiry-table thead {
}

.inquiry-table tr {
    padding: 0 0 0 0;
    border: 0 0 0 0;
    margin: 0 0 0 0;
}

.inquiry-table td {
    padding: 0px 5px 0px 5px;
}

.inquiry-table .danger-box {
    color: white;
    width: 1vw;
    padding: 10px 10px;
}

.inquiry-table .empty-space {
    width: 15vw;
}

/* danger color */
.inquiry-table .dc0 {
    background-color: #32e609
}
.inquiry-table .dc1 {
    background-color: #5feb1a
}
.inquiry-table .dc2 {
    background-color: #99f23a
}
.inquiry-table .dc3 {
    background-color: #caf23a
}
.inquiry-table .dc4 {
    background-color: #ecf23a
}
.inquiry-table .dc5 {
    background-color: #f2dd3a
}
.inquiry-table .dc6 {
    background-color: #ffbc47
}
.inquiry-table .dc7 {
    background-color: #fa8b23
}
.inquiry-table .dc8 {
    background-color: #ed5c13
}
.inquiry-table .dc9 {
    background-color: #ed1313
}

#view-more {
    background-color: white;
    margin: 20px 0 0 14vw;
    padding: 5px 20px 5px 20px;
    color: blue;
    border: 1px solid blue;
}